*[hidden] {
  display: none !important;
}

.full {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

.closed {
  visibility: hidden !important;
  min-width: 0 !important;
  min-height: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.flexRow {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.flexRowLeft {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.flexRowRight {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.flexRowFull {
  width: 100%;
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.flexColumnTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.flexColumnFull {
  width: 100%;
  display: flex;
  flex-direction: column
}

.flexColumnFull > * {
  flex: 1 1 0;
}

.panel {
  margin: 32px;
  padding: 32px;
  border-radius: 12px;
  background-color: #f6f6f6;
}

.panel-header {
  font-size: 20px;
  margin: 0 0 16px 0;
}

.panel-content label {
  font-size: 16px;
}

.panel-content-block {
  margin: 12px 0px 12px 0;
}

.panel-list > * {
  margin: 2px;
  width: 100%;
}
