.value-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    cursor: pointer;
    border-radius: 1vmin;
    padding: 1vmin;
}
.value-box[data-value-box-selected=true] {
    box-shadow: 0 0 6vmin #A1CA43
}
.value-box[data-value-box-selected=true]:hover {
    box-shadow: 0 0 6vmin #A1CA43
}
.value-box:hover{
    box-shadow: 0 0 6vmin #E8F5CA;
}
.value-box img {
    width: 40%
}

.value-screenshot {
    width: 100%;
    display: none;
}

.value-screenshot[data-value-box-selected] {
    display: block;
}

@media (min-aspect-ratio: 3/2) {
    .value-box h2 {
        font-size: 3vh;
    }

    .value-box text {
        font-size: 1.95vh;
    }
}
