#summaryRoot {
  overflow-y: auto;
}

.summary {
  width: 90%;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;
}

.summaryName {
  width: 25%;
}

.summaryRight {
  width: 65%;
}

.summaryIntervalContainer{
  position: relative;
}

.summaryIntervalContainer > div {
  position: absolute;
  background-color: #ccc;
  height: 10px;
}

.summaryEventContainer {
  position: absolute;
}

.summaryPercentage {
  width: 10%
}